/cim.txt
/eurofxref_daily_09431e97e9797a9721512ace34eb91f9.xml
/Kuld
/Munkakörelemzés_Kompetenciaelemzés_20220202_vegl_Vanyó_Tamás.xlsx
/packages
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.suo
*.obj
*.pdb
