body
{
    margin: 5px;
    padding: 0;
    background-color: #FCFCFC;
}

body, table, div, p
{
    font-family: Arial,Verdana;
    font-size: 12pt;
    color: #000000;
}

.NTextBox
{
    text-align: right;
}

.Hiba 
{
    color: red;
    font-weight: bold;
}

#Footer
{
    position: absolute;
    bottom: 20px;
    height: 1px;
    background-color: #666;
    /*color: #eee;*/
}